$purple: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
$darkPurple: linear-gradient(225deg, #542285 0%, #222266 100%);
$orange:#FCBF59;
$darkOrange:#FCA759;
$reviewsBCG:linear-gradient(225deg, #262526 0%, #19181A 100%);
$white:#fff;
$black:#000;
$mainColor:#1A1A1A;